body{
	background-color: blue
	font-size: 16px;
  	color: #fff;
  	background-color: #61122f;
  	font-family: 'Oxygen', sans-serif;
  	
  	
}
/** Header**/
#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
	padding-top: 25;
}

.navbar-brand p {
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list{
	margin-top: 10px;
	text-align: center;
}

#nav-list a {
	color: #951C49;
	text-align: center;

}

#nav-list a:hover {
	background: #E7E7E7;
}

#nav-list a p {
	font-size: 1.8em;
}

#main-content h2 {
	text-decoration: none;
	font-size: 2em;
	color: white;
	text-align: center;
	text-transform: uppercase;

}

#main-content p {
	text-decoration: none;
	color: black;
	background: gray;
	height: 1000px;
	padding: 10px;

}
#main-content:hover {
text-decoration: none;
text-underline-position: none;
}

#ise {
	text-align: center;
	color: green;
	font-size: 1.8em;
	background-color: white;
}